.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

app/node_modules/**/*
node_modules/**/*
app/.expo/*
app/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
app/web-build/
app/web-report/

# macOS
app/.DS_Store
